[Unit]
Description=rt-mbms-modem - 5G-MAG Reference Tools: MBMS Modem for 5G Broadcast reception
After=rc-local.service
Before=getty.target

[Service]
EnvironmentFile=-/etc/default/5gmag-rt
ExecStartPre=+/usr/share/5gmag-rt/pre_modem.sh 
ExecStart=/usr/bin/modem 
Type=idle
User=broadcast
Group=broadcast
Restart=always
StartLimitInterval=2
StartLimitBurst=20

[Install]
WantedBy=basic.target
