#!/usr/bin/make -f

BUILDDIR = build_dir

# secondly called by launchpad
build:
	mkdir $(BUILDDIR);
	cd $(BUILDDIR); cmake -DCMAKE_INSTALL_PREFIX=../debian/rt-mbms-modem/usr ..
	make -C $(BUILDDIR) -j$(nproc)

# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

binary-arch:
	cd $(BUILDDIR); cmake -P cmake_install.cmake
	mkdir -p debian/rt-mbms-modem/DEBIAN
	dh_installdeb
	dpkg-gencontrol -prt-mbms-modem -Pdebian/rt-mbms-modem
	dpkg --build debian/rt-mbms-modem ..

# firstly called by launchpad
clean:
	rm -f build
	rm -rf $(BUILDDIR)

.PHONY: binary binary-arch binary-indep clean
